.page-wrapper {
  width: 80%;
  margin: 0 auto;
}

.product-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-flex {
  display: flex;
  align-items: center;
  margin: 20px 0;
}